<div class= "wine_show">
<div id="heading" class="heading">
<h1>Cupcake: <%= @cupcake.name %></h1>
</div>


<div class="product_image">  <%= link_to image_tag @cupcake.img_url  %> </div>

<div class="desc">

    <p>Name: <%= @cupcake.name %></p>

    <p>Description: <%= @cupcake.description %></p>

    <p>Price: $<%= @cupcake.price %></p>

    <p>Recommended With: <%= @cupcake.pairing %></p>

</div>

</div>