
<div class="parent">

    <div id="banner">
        <h1> Welcome to Brelby's!</h1>
    </div>

    <div class="heading"> 
        <ul>
            <li>OUR PRODUCTS:</li>
            <li>CUSTOMER ACCOUNT:</li>
            <li>OUR PARTNERS:</a></li>
        </ul>
    </div>

    <div class="nav">
        <ul>
            <li> <%= link_to "wines", wines_path %> </li>
            <li> <%= link_to "cupcakes", cupcakes_path %> </li>
            <li> <%= link_to "sign-up", new_customer_path %> </li>
            <li> <%= link_to "sign in", new_customer_path %> </li>
            <li> <%= link_to "sign out", new_customer_path %> </li>
            <li> <%= link_to "bakery", bakeries_path %> </li>
            <li> <%= link_to "wine shop", wine_shops_path %> </li>
        </ul>
    </div>

    <div class="image"> 
    </div>

</div>

