<div id='heading'>

	<% if flash[:success] %>
	<h2 style="color:green;"><%= flash[:success] %></h2>
	<% end %>

	<h3>Customer Profile:</h3>

	<p> Name: <%= @customer.name %></p>

	<p> Age: <%= @customer.age %></p>

	<p> Email: <%= @customer.email %></p>

	<% @customer.orders.each do |order| %>
		<p> Order Invoice # <%= link_to order[:id], order_path(order) %> </p>
	<% end %>
	<br>
	<%= button_to "Place Order", new_order_path, method: :get %>

</div>