<% if flash[:success] %>
<h2 style="color:green;"><%= flash[:success] %></h2>
<% end %>

<h3>Customer Profile:</h3>

Name: <%= @customer.name %><br>

Age: <%= @customer.age %><br>

Email: <%= @customer.email %><br><br>

<ul> 
<% @customer.orders.each do |order| %>
		<li> Order # <%= link_to order[:id], order_path(order) %> </li><br>
<% end %>
</ul>