<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p style="color:red;"><%= error %></p>
	<% end %>
<% end %>


<%= form_for @order do |f| %>
	<p><%= f.label :customer_id %>
	<%= f.collection_select :customer_id, Customer.all, :id, :name %></p>

	<p><%= f.label :wine_id %>
	<%= f.collection_select :wine_id, Wine.all, :id, :name %></p>

	<p><%= f.label :cupcake_id %>
	<%= f.collection_select :cupcake_id, Cupcake.all, :id, :name %></p>

	<p><%= f.label "Delivery Date" %>
	<%= f.date_select :date %></p>

	<p><%= f.label "Delivery Time" %>
	<%= f.time_select :time, {minute_step: 15, ampm: true} %></p>

	<p><%= f.label "Tip Amount ðŸ’° Please Be Generous!" %>
	<%= f.number_field :tip %></p>

	<p><%= f.submit "Click Here To Submit/Update Your Order!ðŸ· " %>
<% end %>