<h1> Order Confirmation </h1>

<ul>
    <li> <%= @order.user_id.name %> </li>

    <li> <%= @order.wine_id.name %> </li>

    <li> <%= @order.cupcake_id.name %> </li>

    <li> <%= @order.date %> </li>

    <li> <%= @order.time %> </li>

    <li> <%= @order.tip %> </li>
</ul>