<div id='heading'>

		<% if flash[:success] %>
			<h2 style="color:green;"><%= flash[:success] %></h2>
		<% end %>

    <h1> Order Confirmation </h1>

        <p> Customer Name: <%= @order.customer.name %> </p>

        <p> Wine: <%= @order.wine.name %> &nbsp    &nbsp    //&nbsp    &nbsp    Cupcake: <%= @order.cupcake.name %> </p>

        <p> Delivery Date: <%= @order.date.strftime("%B %d, %Y") %> &nbsp    &nbsp    //&nbsp    &nbsp    Delivery Time: <%= @order.time.strftime("%l:%M %p") %></p>

        <p>Tip Amount: $<%= @order.tip.round(0) %> &nbsp    &nbsp    //&nbsp    &nbsp    Total Amount Due: </p>

				<p style="text:blue">Please Make Your Payment Via Venmo: @brelbys </p>

    <%= button_to "Cancel Order 😫 ", @order, method: :delete %><br>

    <%= button_to "Update Order", edit_order_path(@order), method: :get %><br>

    <%= button_to "Customer Profile", customer_path(@order.customer), method: :get %>

</div>
