<div id='heading'>

    <h1> Order Confirmation </h1>

        <p> Customer Name: <%= @order.customer.name %> </p>

        <p> Wine: <%= @order.wine.name %> </p>

        <p> Cupcake: <%= @order.cupcake.name %> </p>

        <p> Delivery Date: <%= @order.date.strftime("%B %d, %Y") %> </p>

        <p> Delivery Time: <%= @order.time.strftime("%l:%M %p") %> </p>

        <p> $<%= @order.tip.round(0) %> </p>

        <p> Total Amount Paid: </p>

    <%= button_to "Cancel Order 😫 ", @order, method: :delete %><br>

    <%= button_to "Update Order", edit_order_path(@order), method: :get %><br>

    <%= button_to "Customer Profile", customer_path(@order.customer), method: :get %>

</div>
