<h1> Order Confirmation </h1>

<ul>
    <li> <%= @order.customer.name %> </li>

    <li> <%= @order.wine.name %> </li>

    <li> <%= @order.cupcake.name %> </li>

    <li> <%= @order.date.strftime("%B %d, %Y") %> </li>

    <li> <%= @order.time.strftime("%l:%M %p") %> </li>

    <li> $<%= @order.tip.round(0) %> </li>
</ul>


<%= button_to "Cancel Order 😫 ", @order, method: :delete %>

<%= button_to "Update Order", edit_order_path(@order), method: :get %>
