
<h1>Wine: <%= @wine.name %></h1>

<p>  <%= link_to image_tag @wine.img_url  %> </p>

<ul>
    <li>Type: <%= @wine.grape %></li>

    <li>From: <%= @wine.origin %></li>

    <li>Price: $<%= @wine.price %></li>

    <li>Recommended With: <%= @wine.pairing %></li>
</ul>