<div class= "wine_show">
<div class="heading">
<h1>Wine: <%= @wine.name %></h1>
</div>


<div class="product_image">  <%= link_to image_tag @wine.img_url  %> </div>

<div class="desc">

    <p>Type: <%= @wine.grape %></p>

    <p>From: <%= @wine.origin %></p>

    <p>Price: $<%= @wine.price %></p>

    <p>Recommended With: <%= @wine.pairing %> Cupcake</p>

		<%= button_to "I Want This!", new_order_path, method: :get %>

</div>



</div>