
<h1>Wine: <%= @wine.name %></h1>
<p> <%= @wine.img_url %> </p>
<ul>
    <li><%= @wine.grape %></li>

    <li><%= @wine.origin %></li>

    <li><%= @wine.price %></li>

    <li><%= @wine.pairing %></li>
</ul>